:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99; /*тонкий текст*/
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: var(--text);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: inherit;
  padding: inherit;
}
.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.line {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link,
.logo,
.button,
.services {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--primary-brand);
}

.list {
  list-style: none;

  margin: 0;
  padding: 0;
}

/* ------- NAVIGATION ------ */
.navigation {
  display: flex;
  align-items: center;
}
.nav-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-contacts {
  display: inline-block;
}
.nav-contacts:not(:last-child) {
  margin-right: 40px;
}
.list-contacts {
  margin-left: auto;
}

.logo {
  margin-right: 77px;
  color: var(--dark);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.web {
  color: var(--primary-brand);
}

/* --------- HERO ----- */

.hero {
  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 2000px;

  background-color: var(--dark);
  text-align: center;
}

.hero-title {
  margin: 0 auto;

  color: var(--white);
  font-size: 56px;
  text-align: center;
  line-height: 1.1;
  min-width: 492px;
}

.button {
  display: inline-block;
  padding: 16px 32px;
  margin-top: 48px;
  border-radius: 4px;
  border: 1px solid transparent;

  background-color: var(--primary-brand);
  color: var(--white);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* --------- STREIGHTS ----- */

.strengths {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list.main-list {
  display: flex;
  padding-left: 0;
}
.list-strengths {
  width: 265px;
}
.list-strengths:not(:last-child) {
  margin-right: 24px;
}

.main-title {
  margin: 0;
  margin-bottom: 72px;

  color: var(--dark);
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.title {
  margin: 0 auto;
  margin-bottom: 8px;

  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
}

.text {
  margin: 0 auto;

  color: inherit;
  line-height: 1.5;
}
/* --------- WORKS ----- */
.works {
  padding-bottom: 120px;
}
.works-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.works-img:not(:last-child) {
  margin-right: 24px;
}
/* --------- TEAM ----- */
.light-bg {
  background-color: var(--light);
}
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-link:not(:last-child) {
  margin-right: 24px;
}
.team-text {
  text-align: center;
}

/* --------- FOOTER ----- */
.dark-bg {
  background-color: #2e2f42;
}
.footer-text {
  margin: 0px;
  width: 264px;

  color: inherit;
  line-height: 1.5;
}

.footer-text,
.studio {
  color: var(--white);
}
.footer-info {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  margin-bottom: 16px;
}

/* ---------  PORTFOLIO ----- */
.filtr {
  padding-top: 96px;
  padding-bottom: 120px;
}

.buttons {
  padding: 12px 24px;
  border-radius: 4px;
  border: none;

  background-color: var(--accent);
  color: var(--primary-brand);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.004em;
  cursor: pointer;
}
.buttons:hover,
.buttons:focus {
  background-color: var(--primary-brand);
  color: var(--white);
}
.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.filtr-btn:not(:last-child) {
  margin-right: 24px;
}
.filtr-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.filtr-list {
  width: calc((100% - 52px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
  border: 0.5px solid #f4f4fd;
}

.filtr-list:nth-child(3n) {
  margin-right: 0px;
}
.filtr-list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.filtr-text {
  padding: 32px 16px;
}
.secret-name {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
